body{
    color:black;
    background-color: lightblue;
}

.jumbotron{
    text-align:center;
    color:black;
    
}

.table{

    color:black;
    }




  
 
  
 
    
    

  